body {
    background-color:darkgreen;
    font-family:'Courier New', Courier, monospace;
    color: antiquewhite;
    background-image: url(preeview.jpg);
}
button {
    transition: all 0.3s ease 0s;
    color:antiquewhite;
    background-color:rgb(230, 161, 93);
    top:70%;
}
button:hover {
    transform: translateY(-7px);
}
p#Punkte {
    color:darkgreen
}


